<?php
session_start();
?>
<script src="./js/jquery.min.js"></script>
<div id="header">
    <div id="logo">
        <a href="index.php"><img src="./img/logo.png"/></a>
    </div>
    <div id="search">
        <input type="text" maxlength="35">
    </div>
{{ name }}
</div>

<script>
    $(document).ready(function () {
        $(".loginbutton").click(function () {
            $(".loginform").show();
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#login").mouseenter(function () {
            $("#content").show();
        });
        $("#login").mouseleave(function () {
            $("#content").show();
        });
    });
</script>